/*================================
    Catalog Selector Menu Button
================================*/
@import "../support/_catalogSelector-variables.scss";

.yw-catalog-selector {
    color: $catalogSelector__button--color;
    position: relative;

    &:before,
    &:after {
        width: 1px;
        content: "";
        background-color: $catalogSelector__button-border--bg-color;
        position: absolute;
        top: $catalogSelector__button-border--top;
        bottom: $catalogSelector__button-border--bottom;
        z-index: 1;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &-button.z-button {
        width: $catalogSelector__button--width;
        height: $catalogSelector__button--height;
        max-width: $catalogSelector__button--max-width;
        min-height: $catalogSelector__button--min-height;
        font-size: $catalogSelector__button--font-size;
        background: $catalogSelector__button--bg-color;
        padding: $catalogSelector__button--padding;
        color: $catalogSelector__button--color;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: none;
        font-weight: 500;
        text-align: left;
        position: relative;
        border-color: transparent;

        &:active {
            box-shadow: none;
        }

        &:after {
            right: $catalogSelector__button-icon--right;
            width: $catalogSelector__button-icon--size;
            height: $catalogSelector__button-icon--size;
            line-height: $catalogSelector__button-icon--size;
            content: $catalogSelector__button-icon-down--content;
            margin-top: $catalogSelector__button-icon--adjust-margin;
            font-family: $catalogSelector__button-icon--font-family;
            font-size: $_catalogSelector__button-icon--font-size;
            top: 50%;
            text-align: center;
            color: $_catalogSelector__button-icon--color;
            position: absolute;
        }
    }

    span:empty + &-button.z-button {
        &:after {
            content: $catalogSelector__button-icon-up--content;
        }
    }

    &-toolbarbutton {
        min-height: $catalogSelector__button--min-height;
        padding: $_catalogSelector__toolbar-button-container--padding;

        .yw-explorerTree-right-holder .yw-explorerTree-widget-slot & {
            &.widget_body {
                min-width: $_catalogSelector__toolbar-button-container--min-width;
                float: right;
                max-width: 100%;
            }
        }
    }
    &-toolbarbutton & {
        &:after,
        &:before {
            display: none;
        }
        &-button.z-button {
            padding: $_catalogSelector__toolbar-button--padding;
            min-height: $_catalogSelector__toolbar-button--height;
            min-width: $_catalogSelector__toolbar-button--min-width;
            height: $_catalogSelector__toolbar-button--height;
            border-radius: $_catalogSelector__toolbar-button--border-radius;
            background-color: $_catalogSelector__toolbar-button--bg-color;
            border: 1px solid $_catalogSelector__toolbar-button--border-color;
            color: $_catalogSelector__toolbar-button--color;

            &:after {
                font-size: $_catalogSelector__toolbar-button-icon--font-size;
                color: $_catalogSelector__toolbar-button-icon--color;
                right: $_catalogSelector__toolbar-button-icon--right;
            }

            &,
            &[disabled],
            &[disabled]:hover,
            &[disabled]:focus {
                background-color: $_catalogSelector__toolbar-button--bg-color;
                border-color: $_catalogSelector__toolbar-button--border-color;
                color: $_catalogSelector__toolbar-button--color;
            }

            &:hover,
            &:focus {
                color: $_catalogSelector__toolbar-button-hover--color;
                background-color: $_catalogSelector__toolbar-button-hover--bg-color;
                border-color: $_catalogSelector__toolbar-button-hover--border-color;
            }
        }
    }
    &-toolbarbutton span[style*="display: none"] + &-button.z-button {
        color: $_catalogSelector__toolbar-button-hover--color;
        background-color: $_catalogSelector__toolbar-button-hover--bg-color;
        border-color: $_catalogSelector__toolbar-button-hover--border-color;
    }
}
