@import "cockpitng-globals.scss";

$theme-setting-default--spacing: $container-spacing-default_two-thirds;
$theme-setting-title-color: var(--bo-title-color);
$theme-setting-title-size: $font-size__h4;
$theme-setting-notice-color: var(--bo-tile-text-color);
$theme-setting-text-color: var(--bo-text-color);
$theme-setting-selected-color: var(--sapSelectedColor);
$theme-setting-listitem-shadow: var(--bo-content-shadow-small);
