//Details
.sync-attribute-config-details {
    padding:$selsync__details--padding;

    > .z-label {
        font-weight: $selsync__details-label--font-weight;
        font-size: $_selsync__details-label--font-size;
        line-height: $_selsync__details-label--line-height;
        padding: $_selsync__details-label--padding;
        margin-bottom: $selsync__details-label--margin-bottom;
        display: inline-block;
    }
    &-item {
        margin-bottom: $_selsync__details-item--margin-bottom;
        
        span.ye-switch-checkbox.z-checkbox {
            min-height: $selsync__details-checkbox--min-height;
            line-height: $selsync__details-checkbox--line-height;
        }
    }
}