@import "cockpitng-globals.scss";

$custom-theme-preview--shellbar-height: 48px;
$custom-theme-preview--navbar-width: 48px;
$custom-theme-preview--navbar-height: $custom-theme-preview--navbar-width;

