@import "../support/_workflows-mixins.scss";

.yw-workflows-list {
	&.z-listbox {
		overflow-y: auto;
		height: auto !important;
		max-height: calc(100% - 90px);
		border: 0;
		> .z-listbox-body {
			max-height: 100%;
			height: auto !important;
		}
	}

	&-bottom {
	  	padding-top: $workflows__list-bottom--padding-top;
	  	display: table;
	  	width: 100%;

		& &-start {
			&.ye-text-button {
				font-size: $workflows__list-text-button--font-size;
				color: $workflows__list-text-button--color;
	
				&:hover {
					color: $workflows__list-text-button-hover--color;
					text-decoration: underline;
				}
			}
			&-disabled {
				opacity: 0.4;
			  	cursor: not-allowed !important;
			  	text-decoration: none !important;
		  	}	  	
		}
	}

	.z-listitem {
		&:hover {
			cursor: default;
		}
	}

	&-item {
		text-align: left;

		&:last-child > .z-listcell {
			border-bottom-width: $workflows__list-item--border-width;
			border-bottom-style: solid;
			margin-bottom: $workflows__list-item-last--margin-bottom;
		}
		.z-listcell {
			border-color: $workflows__list-item--border-color;
			
			> .z-listcell-content {
				padding: $workflows__list-item-content--padding;
			}
		}
		.yw-workflows-list &.z-listitem-selected {
			background-color: transparent;
		}
		.yw-workflows-list &, 
		.yw-workflows-list &.z-listitem-selected {
			&:hover, &:hover {
				background-color: $workflows__list-item-hover--bg-color;
			}
		}
	}
	&-content {
		padding: $workflows__list-content--padding;

		&-top {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: row-reverse;
		}

		&-bottom {
			padding: $workflows__list-inner-content--padding;
		}
		.z-label {
			max-width: 100%;
			white-space: normal;
		}
	}

	&-content-bottom & {
		&-bottom-start,
		&-info.z-label {
			padding-right: $workflows__list-info-label--padding-x;
			display: table-cell;
			color: $workflows__list-info-label--color;
			line-height: $workflows__list-info-label--line-height;

			&:last-child {
				padding-left: $workflows__list-info-label--padding-x;
				text-align: right;
				padding-right: 0;
			}
		}
	}
	&-info {

		&-bottom,
		&-container {
			padding-top: $workflows__list-info-container--padding-top;
			display: table;
			width: 100%;
		}
	}

	.yw-workflows-list-subtitle,
	.yw-workflows-list-title {
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		font-size: $workflows__list-title--font-size;
		color: $workflows__list-title--color;
		max-width: $workflows__list-title--max-width;
		line-height: $workflows__list-title--line-height;
		display: inline-block;
		word-break: break-all;

		&:hover {
			color: $workflows__hyperlink-hover--color;
			text-decoration: none;
		}
	}

	.yw-workflows-list-subtitle {
		color: $workflows__list-subtitle--color;
		&:hover {
			text-decoration: underline;
		}
		&:active {
			text-decoration: underline;
			color: $workflows__hyperlink-active--color;
		}
		&:focus {
			text-decoration: underline;
		}
	}

	&-button {
		clear: left;
		float: right;
		text-align: center;

		&:empty {
			width: $workflows__list-button-empty-width;
			height: $workflows__list-button-empty-width;
			display: block;
			padding: 0;
			min-height: 0;
			@include _addButtonBackgroundDots();	

			&:hover,
			&:focus,
			&:active {
				@include _addButtonBackgroundDots($workflows__list-button-empty-width * -1);
			}
		}
	}

	tbody.z-listbox-emptybody td {
		background: transparent;
	}

	.yw-custom-menu-popup {
		margin-top: $workflows__menu-popup-top--margin-top;
	}

	.yw-show-menu-action-container {
		-webkit-flex: auto;
		-ms-flex: auto;
		flex: auto;
	}
}

.yw-workflows-menu-popup {
	&.yw-pointer-menupopup {
		&-right {
		margin-top: $workflows__menu-popup-right--margin-top;
		margin-left: $workflows__menu-popup-right--margin-left;
		}
		&-top {
			margin-top: $workflows__menu-popup-top--margin-top;

			&-right {
				margin-top: $workflows__menu-popup-top-right--margin-top;
				margin-left: $workflows__menu-popup-top-right--margin-left;

				&:before,
				&:after {
					right: $workflows__menu-popup-top-right-pointer--indent;
				}
			}
		}
	}
}
