.se-media-upload-form {
    @include se-box-shadow;
    border-radius: fd-space('base');

    &__header {
        border-bottom: se-border();
        display: flex;
        flex-direction: column;

        &-content {
            @include se-flex-row(space-between);
            height: 53px;
            padding: 20px;
        }

        &-title {
            @include fd-type('1');
            color: fd-color('text', 1);
        }

        &-folder {
            width: 200px;
            margin-left: 8px;
            margin-right: auto;
        }
        &-error {
            padding-left: 20px;
        }
    }

    &__replace-file {
        @include se-flex-row(space-between);
        padding: 16px 20px 0;
    }

    &__file-name {
        @include se-text-ellipsis;
        max-width: 80%;
    }

    &__file-info {
        @include se-grid-columns(2, 16px);
        padding: 20px;
    }
}
