se-component-types-tab .se-component-menu {
    &__type-search {
        width: 100%;
    }

    &__result {
        @include se-grid-columns(2);
    }

    &__infinite-scroll .se-infinite-scrolling__container {
        max-height: 300px;
    }

    &__types-header {
        padding: 0 20px fd-space('s');
        border-bottom: se-border();
        .fd-form__set {
            margin: 0 !important;
        }
    }
}
