@import "cockpitng-globals.scss";
$customize-theme-attribute--height: 36px;
$customize-theme-container--margin: 24px;
$customize-theme-preview-margin--left: 16px;
$customize-theme-attribute-colorbox--margin-right: 12px;
$customize-theme--width: calc(100% - #{$customize-theme-preview-margin--left + ($customize-theme-container--margin * 2)});
$header-back-btn-content: _getIconGlyphContentValue('nav-back');
$theme-list-edit-btn-content: _getIconGlyphContentValue('edit');
$theme-list-delete-btn-content: _getIconGlyphContentValue('delete');
$theme-list-item-max--width: 265px;
$theme-list-item--height: 218px;
$theme-list-item-shadow: var(--bo-content-shadow-small);
$theme-delete-btn--width: 28px;
$theme-delete-btn--height: 28px;
$theme-edit-view-section-title--height: 34px;
$theme-edit-view-section-title--margin: 12px;
$customize-theme-preview-content--height: calc(100% - #{$theme-edit-view-section-title--height + ($theme-edit-view-section-title--margin * 2)});
$customize-theme-preview--margin-left: 16px;
$customize-theme-preview--width: calc(75% - #{$customize-theme-preview--margin-left});