.se-slot-visiblity-component {
    &--globe-icon {
        margin-left: fd-space('base');
    }
    &__content {
        @include se-flex-row;
        flex-grow: 1;
    }
    &__description {
        margin-right: fd-space('s');
    }
    &__name,
    &__visibility {
        color: fd-color('text', 1);
    }
    &__name--link {
        cursor: pointer;
        color: fd-color('action', 1);
    }
    &__type {
        color: fd-color('text', 3);
    }
}
