$editor-defaults__inline-box--height: 40px;
$default-multi-reference-editor__list-item-actiondots-icon--size: 24px;
$default-multi-reference-editor__list-item-actiondots-icon--2size: 36px;
$default-multi-reference-editor--list-item-actiondots-button--margin-x: 40px;
$warehouse-inbox--border-top: 1px solid $grey__light--200;
$warehouse-inbox-quicklist--border-bottom:1px solid var(--bo-list-border-color);
$quicklist-warehousing--tile-title--margin: 15px 0 0 10px;
$quicklist-warehousing--tile--border-bottom: 1px solid var(--bo-list-border-color);
$quicklist-warehousing--tile--img--margin: 10px;

td.ye-actiondots.ye-actiondots--consignment {

    .z-listcell-content{
        padding-right: 0 !important;
    }

    button.ye-actiondots--btn.ye-actiondots--consignment--btn{
        &:before {
            font-family: $font-family__icon;
            content: _getIconGlyphContentValue("overflow");
            color: var(--bo-button-icon-color);
            font-size: $font-size__base;
        }
        height: $default-multi-reference-editor__list-item-actiondots-icon--size;
        width: $default-multi-reference-editor__list-item-actiondots-icon--2size;
        display: inline-block;
        padding: 0;
        float: right;
        border: none;
        transform: rotate(90deg);
        background-color: transparent;
    }
    &:last-child {
        text-align: right;
    }
    &:hover {
        button.ye-actiondots--btn.ye-actiondots--consignment--btn {
            background-position: 0 (-$default-multi-reference-editor__list-item-actiondots-icon--size);
            background-repeat: no-repeat;
            height: $default-multi-reference-editor__list-item-actiondots-icon--size;
            width: $default-multi-reference-editor__list-item-actiondots-icon--2size;
        }
    }
    &-focus button.ye-actiondots--btn.ye-actiondots--consignment--btn {
        background-position: 0 (-2* $default-multi-reference-editor__list-item-actiondots-icon--size);
    }
    &-active button.ye-actiondots--btn.ye-actiondots--consignment--btn {
        background-position: 0 (-2* $default-multi-reference-editor__list-item-actiondots-icon--size);
    }
    &-disabled {
        &, &:hover > button.ye-actiondots--btn.ye-actiondots--consignment--btn {
            background-position: 0 (-3* $default-multi-reference-editor__list-item-actiondots-icon--size);
        }
    }
}

.ye-warehouse-inbox-collection-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell{
    border-top: $warehouse-inbox--border-top;
}
.ye-warehouse-inbox-collection-browser .yw-coll-browser-container .z-listbox-body .z-listitem > td > .z-listcell-content:after{
    border-top: 0px;
}

.yw-coll-browser-container .ye-actiondots--consignment.ye-actiondots .z-listcell-content{
    min-height: initial;
    margin-right: initial;
}

.yw-quicklist-warehousing-hbox-container{
    width: 100%;
    border-bottom: $warehouse-inbox-quicklist--border-bottom;
}

.yw-quicklist-warehousing--tile-title{
    margin: $quicklist-warehousing--tile-title--margin;
    font-weight: bold;
    display: block;
}

.yw-quicklist-warehousing--tile{
    border-bottom: $quicklist-warehousing--tile--border-bottom;
}

.yw-quicklist-warehousing--tile--img{
    margin: $quicklist-warehousing--tile--img--margin;
}

.yw-quicklist-warehousing--tile--prod-code{
    margin-top: $quicklist-warehousing--tile--img--margin;
    display: block;
}

