@import "cockpitng-globals.scss";

$password-setting-default--spacing: $container-spacing-default__half;
$password-setting-notice-title-color: var(--bo-title-color);
$password-setting-notice-title-size: $font-size__h4;
$password-setting-notice-text-color: var(--bo-tile-text-color);
$password-setting-input-title-color: var(--bo-label-color);
$password-setting-btn-content: _getIconGlyphContentValue("user-settings");
